@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500;600;700&display=swap");

:root {
  --black-blue: #2f332f;
  /* --green-light: #dbf8df; */
  --green-light: #6b8e23;

  --light-grey: #646464;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  font-family: "PT Sans", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eee;
  padding: 1.5rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-blue);
  z-index: 10;
}

nav {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

nav a {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: #d8d8d8;
}

nav a:hover,
.active {
  color: var(--green-light);
}
.logo {
  color: var(--green-light);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-size: 1.5rem;
  border: 1px solid var(--green-light);
  padding: 0.1rem 1rem;
}

input {
  padding: 0.3rem 0.7rem;
  border: 1px solid var(--green-light);
  background: none;
  font-size: 0.8rem;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.2rem;
}

section {
  padding: 9rem 7%;
}

section#contact {
  background-color: #dbf8df;
}

.welcome-section {
  padding-top: 8rem;
  padding-bottom: 1rem;
  padding-right: 7%;
  padding-left: 7%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.col-left {
  width: 50%;
}

.col-right {
  display: flex;
  justify-content: end;
}
.col-right img {
  width: 95%;
}

.welcome-section h1,
.contact h1,
.projects h1 {
  font-size: 3.5rem;
  font-family: "Rasa", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 2rem 0;
}

.welcome-section h4,
.contact h4,
.projects h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #aaa9a9;
  font-weight: 400;
}
.welcome-section p,
.contact p {
  font-size: 1.2rem;
  color: var(--light-grey);
  line-height: 1.8;
  margin: 1.3rem 0;
  font-weight: 400;
}
.welcome-section span {
  color: olivedrab;
}

.btn {
  background-color: var(--black-blue);
  padding: 0.4rem 3rem;
  color: var(--green-light);
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.btn:hover {
  background-color: var(--green-light);
  color: var(--black-blue);
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-tile {
  width: 48%;
  margin-bottom: 2rem;
  position: relative;
}

.project-tile:hover {
  transform: translateY(20px);
}

.project-tile img {
  width: 100%;
}

.project-tile:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 0%,
    rgba(166, 233, 60, 0.65) 100%
  );
}

.project-tile:hover::before {
  background: linear-gradient(
    to bottom,
    rgba(25, 27, 23, 0.65) 100%,
    rgba(255, 0, 0, 0) 0%
  );
}

.project-tile .head-card {
  position: absolute;
  color: #fff;
  padding: 3rem;
  z-index: 8;
}

.project-tile:hover .head-card {
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project-tile .head-card h4 {
  color: #dcdcdc;
}

.project-tile .head-card h2 {
  font-size: 2.2rem;
  font-family: "Rasa", sans-serif;
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
}
.project-tile .head-card a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #dcdcdc;
  opacity: 0;
}
.project-tile:hover .head-card a {
  color: #aaa9a9;
  opacity: 1;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sosial-media {
  display: flex;
}

.sosial-media i {
  color: var(--black-blue);
  margin-right: 1rem;
  font-size: 2.5rem;
}
.sosial-media i:hover {
  color: #6b8e23;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-blue);
  color: var(--green-light);
  padding: 2rem 7%;
}

footer i {
  color: rgb(199, 64, 64);
}

@media only screen and (max-width: 768px) {
  header {
    justify-content: center;
  }
  section {
    padding: 7rem 7%;
  }

  nav,
  input {
    display: none;
  }

  .welcome-section {
    flex-direction: column-reverse;
  }
  .col-left {
    width: 100%;
  }

  .col-right {
    width: 100%;
    margin-bottom: 1rem;
  }
  .col-right img {
    width: 100%;
  }
  .welcome-section h1,
  .contact h1,
  .projects h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 1.2rem 0;
  }

  .project-tile {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
  }
}
